PRIVATE_KEY=
RPC_URL=https://rpc.tipschain.org

OWNER=
RFQ_SIGNER=
TRUSTED_OPERATOR=

TPC_TOKEN=
USDT_TOKEN=
TREASURY_VAULT_TPC_LIQUIDITY=1000000000000000000000000

ASSETS_REGISTRY=
TREASURY_VAULT=
PAYMASTER=
FORWARDER=
ASSET_GATEWAY=
ROUTER=
NAME_SERVICE=

# Governance
SIGNER_ONE=
SIGNER_TWO=
SIGNER_THREE=
MSIG_THRESHOLD=2
TIMELOCK_MIN_DELAY=172800
GOVERNANCE_OWNER=
